body {
    margin: 0;
    min-width: 1200px;
    width: 100%;
    height: 100%;
}
.regTopbar {
    height: 100px;
}
#usernameHeader {
    color: black;
    position: absolute;
    font: bold 18px arial, sans-serif;
    height: 40px;
    width: 400px;
    top: 30px;
    left: 30%;
    //transform: translate(-50%, -50%);
}
#userBtn {
    position: relative;
    background-color: white;
    margin-top: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    height: 30px;
    min-width: 80px;
    padding: 5px 10px;
    border: solid 4px #000;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
#loginbox {
    margin: 10px;
    width: 450px;
    height: 550px;
    border: #666 solid 10px;
    border-radius: 5px;
    background-color: #666;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -00%);
}
input[type=text],
input[type=password] {
    display: table;
    width: 96%;
    padding: 12px 20px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit] {
    font: bold 18px arial, sans-serif;
    display: block;
    margin: auto;
    padding: 12px 20px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}
.selectBox {
    width: 450px;
    margin: auto;
}
div.loginSelect {
    position: absolute;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top: #333 solid 10px;
    border-left: #333 solid 10px;
    border-bottom: #333 solid 10px;
    float: left;
    background-color: #ff9933;
}
div.loginSelect h1 {
    font: bold 18px arial, sans-serif;
    margin: 0px;
    height: 40px;
    width: 215px;
    line-height: 150%;
    font-size: 15pt;
    color: black;
    text-align: center;
}
div.loginSelect h1:hover {
    font: bold 25px arial, sans-serif;
    line-height: 120%;
}
div.signinSelect {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: #333 solid 10px;
    border-right: #333 solid 10px;
    border-bottom: #333 solid 10px;
    float: right;
    background-color: #ff9933;
}
div.signinSelect h1 {
    font: bold 18px arial, sans-serif;
    margin: 0px;
    height: 40px;
    width: 216px;
    line-height: 150%;
    font-size: 15pt;
    color: black;
    text-align: center;
}
div.signinSelect h1:hover {
    font: bold 25px arial, sans-serif;
    line-height: 120%;
}
.imgcontainer {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: 80px 0 12px 0;
    position: relative;
}
#usernameContainer {
    padding-left: 5%;
    color: white;
    background: #666;
    height: 56px;
    width: 400px;
    left: 50%;
}
#usernameContainerInner {
    width: 390px;
    height: 40px;
    border: #333 solid 8px;
    border-radius: 5px;
    background-color: #333;
}
#usernameLabel {
    color: black;
    position: absolute;
    font: bold 16px arial;
    background-color: #ff9933;
    line-height: 260%;
    text-align: center;
    width: 25%;
    height: 40px;
}
#loginInputField {
    width: 70%;
    height: 40;
    float: right;
}
#signupContainer {
    margin-top: 90px;
    padding-left: 5%;
    color: white;
    background: #666;
    height: 60%;
    width: 400px;
    left: 50%;
}
#signupContainerInner {
    width: 390px;
    height: 70%;
    border: #333 solid 8px;
    border-radius: 5px;
    background-color: #333;
}
#footerContainer {
    color: white;
    position: relative;
    height: 200px;
    background-color: black;
}
a.social-media-link {
    border: 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    border-radius: 100%;
    color: inherit;
    transition: color .2s ease-in-out, height .2s ease-in-out, width .2s ease-in-out;
}
/* The Modal */

.modal {
    padding-top: 20px;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //overflow: auto; 
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}
/*change placeholder colour*/

input.placeholderred::-webkit-input-placeholder {
    color: red;
}
input.placeholdergrey::-webkit-input-placeholder {
    color: grey;
}
/*input.placeholderred:-moz-placeholder { 
   color: red;  
}

input.placeholderred::-moz-placeholder { 
   color: red;  
}

input.placeholderred:-ms-input-placeholder {  
   color: red;  
}*/